/*
   Name: Francisco Fuentes
   File: hw2.css
   Date Created: 2025-10-15
   Date Updated:
   Purpose: MIS 3371 Homework 2... Using CSS to style a patient intake form.
*/

/* Style for the entire body */
body {
    background-color: #D8DFE6;
   font-family: Arial, Helvetica, sans-serif;
   color: #2C3E50;
   margin: auto;
}

/* Style for the form */
#form-group {
    padding: 50px;
}

/* Style for the header */
.header {
    background-color: #2C3E50;
   color: white;
}

/* Layout for the range input */
input[type="range"] {
    width: 100%;
}

/* Style for the data review section */
#dataReview {
    margin-top: 20px;
    padding: 15px;
}

/* Style for Footer */
.footer {
    background-color: #2C3E50;
   color: white;
   text-align: center;
   padding: 10px;
   position: relative;
   width: 100%;
   bottom: 0;
}

/* Footer hyperlink colors */
a:link {
  color: #66D9A5;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #A5E3CD;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #4A8BF2;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #3A6DCC;
  background-color: transparent;
  text-decoration: underline;
}

/* Style for error messages */
.error_messages {
    color: red;
}

/* Centering for page 2 button */
.page2-button {
    align-items: center;
}